.diamond{
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 70px solid #ff0000;
    position: relative;
    top: -50px;
}
.diamond::after{
    content: "";
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #ff0000;
}

.center{
    margin-top: 250px;
    margin-left: 750px;
}